.checkbox {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 30px
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkbox-item {
    margin: 0 15px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.checkbox-item label {
    font-size: 1.2rem;
    margin-right: 10px;
}