.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 50%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.searchBar input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.searchBar button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: 2px solid red;
    border-left: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    white-space: nowrap;
}

.searchBar button:hover {
    background-color: darkred;
    border-color: darkred;
}

.checkbox {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 30px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkbox-item {
    margin: 0 15px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.checkbox-item label {
    font-size: 1.2rem;
    margin-right: 10px;
}
