@import url("header/header.css");
@import url("body/searchForm.css");
@import url("home_page/itemList.css");
@import url("detail_page/detail_item.css");

body{
    height: 100vh;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover,
a:active {
    color: #555;
    text-decoration: none;
}
