<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fortune Seller{% endblock %}</title>
        <link rel="icon" href="https://wiki.guildwars.com/wiki/Guild_Wars_2#/media/File:Normal_gw2logo.jpg">
        <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ include("includes/header.html.twig") }}
        {% endblock %}
        {% block body %}
            {{ include("includes/search.html.twig") }}
            {% block main %}

            {% endblock %}
        {% endblock %}
    </body>
</html>
