{% block header %}
    <div class="header">
        <div class="heading">
            FORTUNE SELLER
        </div>
        <div class="gemCourse">Exchange course at the moment 100 Gold = {{ gemCourse }} Gems</div>
    </div>
{% endblock %}
