.header {
    height: 15%;
    background-color: red;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .heading{
        font-family: 'MedievalSharp', sans-serif;
        font-size: xxx-large;
        color: white;
        font-weight: bold;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }
}
