.header {
    height: 15%;
    background-color: red;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-direction: column; /* Elemente vertikal anordnen */
    justify-content: center; /* vertikale Zentrierung */
    align-items: center; /* horizontale Zentrierung */
}

.heading {
    font-family: 'MedievalSharp', sans-serif;
    font-size: xxx-large;
    color: white;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.gemCourse {
    margin-top: 10px; /* Abstand zur Überschrift */
    font-family: 'MedievalSharp', sans-serif;
    color: white;
}
